<html>

<body>
    {{>header}}
    <h1>
        About Page
    </h1>
    <p>
        Lorma saß in der Halle von Aldo.
        Sie saß beym Licht einer flammenden Eiche.
        Die Nacht stieg herab,
        aber er kehrte nicht wieder zurück.
        Lormas Seele war trüb!
        »Was hält dich, du Jäger von Cona, zurück.
        Du [hast]1 versprochen wieder zu kehren.
        Waren die Hirsche weit in der Ferne?
        Brausen an der Heyde die düstern Winde um dich!
        ich bin im Lande der Fremden,
        wer ist mein Freund, als Aldo?
        [komm]2 von deinen erschallenden Hügeln,
        o mein bester Geliebter!«
    </p>
    {{>footer}}
</body>

</html>